<link rel="stylesheet" type="text/css" href="../Content/DefaultWithTable.css">



<div class="leftSide">
    <div class="above">
        <div class="User leftSide">
            <img id="per" src="../Content/Person.png" alt="Person" />
            <div class="labels">
                <label>Username</label><br />
                <label>Student</label>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li id="sidebar-title">Groups</li>
            <li>@Html.ActionLink("Courses", "Courses", "Admin", null, new { @class = "link" })</li>
            <li>@Html.ActionLink("Users", "Users", "Admin", null, new { @class = "link" })</li>
        </ul>
    </div>
</div>

