<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">

<!--The form used in the Admin View-->
<div class="leftSide">
    <div class="above">
        <div>
            <img id="person" align="left" src="~/Content/Person.png" alt="Smiley face">
            <div class="lab">
                <label>Username</label><br />
                <label>Teacher</label>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li id="sidebar-title">Groups</li>
            <li>@Html.ActionLink("Courses", "Courses", "Admin", null, new { @class = "link" })</li>
            <li>@Html.ActionLink("Users", "Users", "Admin", null, new { @class = "link" })</li>
        </ul>
    </div>
</div>

