@{
    ViewBag.Title = "User Page";
}

@Html.Partial("_AdminForm")

<div class="above-main"></div>

@using (Html.BeginForm())
{
    <input type="text" name="Name" />
    <input type="submit" value="submit" onclick="location.href='@Url.Action("Index", "Home" )'" />
}

<input type="button" value="Cancel" onclick="location.href='@Url.Action("Courses", "Admin")'" />
