@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<String>

@Html.Partial("_AdminForm")

<div class="above-main">
    <div class="rightSide">
        @Html.ActionLink("Create New Course", "AddCourse", "Admin", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="main">
    <table class="course">
        <caption>Courses</caption>
        <thead>
            <tr>
                <th>Course</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item)</td>
                    <td>
                        <a class="delete">Delete</a>
                        <a class="edit">Edit</a>
                        <a>View users</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>