@{
    ViewBag.Title = "Edit course";
}

<input type="hidden" value=@Model[0] name="SearchName" />

@Html.Partial("_AdminForm")

<div class="above-main"></div>

<div class="main">
    <h2>Edit Course</h2>

    <!--The form used to edit a course, directly interacts with the AdminController and the model-->
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <input type="hidden" class="form-control" value=@Model[0] name="SearchName" />
            <label for="Name">Name:</label>
            <input type="text" class="form-control" value=@Model[0] name="Name" />
        </div>
        <input class="btn btn-default" type="submit" value="Submit" onclick="location.href='@Url.Action("Courses", "Admin" )'" />
        <input class="btn btn-default" type="button" value="Cancel" onclick="location.href='@Url.Action("Courses", "Admin")'" />    
    }
</div>

