
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<string>
@Styles.Render("~/Content/css")

<link rel="stylesheet" type="text/css" href="../Content/DefaultWithTable.css">
<div class="leftSide">
    <div id="User">
        <div class="image">
            <img href="" />
        </div>
        <div class="lables">
            <label>Username</label>
            <label>Student</label>
        </div>
    </div>
    <div id="lables"></div>

    <div id="sidebar">
        <ul>
            <li id="sidebar-title"><a>Courses</a></li>
            @foreach (var element in Model)
            {
                <li><a>@Html.DisplayFor(m => element)</a></li>
            }
        </ul>
    </div>
</div>

<div class="above-main">

</div>

<div class="main">
    <table class="course">
        <caption>Courses</caption>
        <thead>
            <tr>
                <td>Course</td>
                <td>Options</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model)
            {
            <tr>
                <td>@Html.DisplayFor(m => element)</td>
                <td><span><a color="red">Delete</a><a color="Green">Edit</a><a>View users</a></span></td>
            </tr>
            }
        </tbody>
    </table>

</div>

<input type="button" value="Users" onclick="location.href='@Url.Action("Users", "Home")'" />