@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    <h2>Login</h2>

    <!--The login form used-->
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="UserName">UserName:</label>
            <input type="text" class="form-control" name="UserName" />
        </div>
        <div class="form-group">
            <label for="Password">PassWord:</label>
            <input type="password" class="form-control" name="PassWord" />
        </div>

        <input class="btn btn-default" type="submit" value="Login" onclick="location.href='@Url.Action("Courses", "Admin" )'" />
    }
</div>

