@{
    ViewBag.Title = "Home Page";
}


<div class="main">
    <h2>Login</h2>

    @using (Html.BeginForm())
    {
        <label for="UserName">UserName:</label>
        <input type="text" name="UserName" />
        <label for="PassWord">PassWord:</label>
        <input type="password" name="PassWord" />
        <input class="btn btn-default" type="submit" value="Submit" onclick="location.href='@Url.Action("Courses", "Admin" )'" />
    }
</div>

