div.User {
    display: flex;
    border: 1px solid;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    margin: 5px;
}

div.above{
    height: 80px;
    width: 20%;
}

div.labels{
    margin-left: 5px;
    padding-top:12px;
}

.leftSide {
    float: left;
    width: 20%;
}

.rightSide{
    padding-top: 35px;
    padding-left: 10px;
}

div.above-main{
    height: 80px;
    width: 79%;
    margin-left: 10px;
    float: right;
}

div#sidebar ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
    border-radius: 6px;
}

div#sidebar li {
    padding: 10px;
    border-radius: 6px;
}

div#sidebar li a {
    text-decoration: none;
    color: black;
}

div#sidebar li:hover:not(:first-child), div#sidebar li:active:not(:first-child)  {
    background-color: #CCCCCC;
    font-weight: bold;
}

div#sidebar li#sidebar-title {
    background-color: #808080;
    font-weight: bold;
    color: white;
}



.main {
    padding: 0px 10px;
    float: right;
    width: 80%;
    height: 100%;
}

.main h2{
    margin-top: 0px;
}

table.default {
    border-bottom: 1px solid black;
    width: 100%;
}

table.default caption {
    border: 1px solid black;
    border-bottom: none;
    padding: 5px 10px;
    font-size: 1.5em;
    text-align: left;
    color: white;
    background-color: #808080;
}

table.default thead tr {
    font-weight: bold;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

table.default tbody tr:nth-child(odd) {
    background-color: #E6E6E6;
}

table.default td, table.default th{
    padding: 5px;
    padding-left: 10px;
}

table.admin td:first-child{
    width: 75%;
}

.delete{
    color: red;
    margin-right: 20px;
}

.delete:hover{
    color: darkred;
}

.edit{
    color: green;
    margin-right: 20px;
}

.edit:hover{
    color: darkgreen;
}

.form{
    margin: 10px 0px;
}

footer{
    clear: both;
    padding-top:10px;
}