@{
    ViewBag.Title = "Select course";
}






<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    @foreach (var element in Model)
    {
            string name = element;
            <p> @Html.ActionLink(name, "SelectAssignments", new { id = element })</p>
    }
</body>
</html>
