@{
    ViewBag.Title = "Select course";
}






<!DOCTYPE html>
<html>
<head>
    <div class="main">
        <table class="default student">
            <caption>Assignments</caption>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Due Date</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <meta name="viewport" content="width=device-width" />
                <title></title>
</head>
<body>
    @foreach (var element in Model)
    {
            string name = element;
            <p> @Html.ActionLink(name, "SelectAssignments", new { id = element })</p>
    }
</body>
</html>
