@{
    ViewBag.Title = "Select Assignment";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @foreach (var element in Model.SubAssignments)
    {
        string name = element;
        <p> @Html.ActionLink(name, "SelectSubmittions", new { id = element  +"," + Model.CourseName + "," + Model.AssignmentName })</p>
        
    }
</body>
</html>
