@{
    ViewBag.Title = "Select Assignment";
}

<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
<link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

@model Mooshak_2._0.Models.StudentIdsViewModel

<div class="leftSide">
    <div class="above">
        <div class="User leftSide">
            <img id="per" src="~/Content/Person.png" alt="Person" />
            <div class="labels">
                <label>Username</label><br />
                <label>Teacher</label>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li id="sidebar-title">Courses</li>
            @foreach (var element in Model.Courses)
            {
                string name = element;
                <li> @Html.ActionLink(name, "SelectAssignments", new { id = element, studentID = Model.StudentName})</li>
            }


        </ul>
    </div>
</div>
<div class="above-main"></div>
<div class="main">
    <table class="default teacher">
        <caption>Courses</caption>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.Assignments)
            {
                string name = element;
                <tr>
                    <td>
                        @Html.ActionLink(name, "SelectSubAssignment", new { id = element, CourseID = Model.CourseName, StudentID = Model.StudentName })
                    </td>
                    <td>06/06/06</td>
                    <td>Accepted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
