<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
<link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

<!--Connects the TeacherForm to the model below-->
@model Mooshak_2._0.Models.TeacherViewModelsAssignmetns

<!--The basic form for teacher-->
<div class="leftSide">
    <div class="above">
        <div>
            <img id="person" align="left" src="~/Content/Person.png" alt="Smiley face">
            <div class="lab">
                 <label>Username</label><br/>
                 <label>Teacher</label>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li id="sidebar-title">Courses</li>
            @foreach (var item in Model.Courses)
            {
                <li>@Html.ActionLink(Html.DisplayFor(x => item).ToString() , "Assignments", new { id = item, TeacherID =  @Model.Name })</li>
            }
        </ul>
    </div>
</div>