<link rel="stylesheet" type="text/css" href="~/Content/DefaultWithTable.css">
<link rel="stylesheet" type="text/css" href="~/Content/TeacherCss.css">

<!--Connects this model to the Teacher View-->
@model Mooshak_2._0.Models.TeacherViewModelsAssignmetns

<!--The basic form for teacher-->
<div class="leftSide">
    <div class="above">
        <div class="User leftSide">
            <img id="per" src="~/Content/Person.png" alt="Person" />
            <div class="labels">
                <label>Username</label><br />
                <label>Teacher</label>
            </div>
        </div>
    </div>
    <div id="sidebar">
        <ul>
            <li id="sidebar-title">Courses</li>
            @foreach (var item in Model.Courses)
            {
                <li>@Html.ActionLink(Html.DisplayFor(x => item).ToString() , "Assignments", new { id = item })</li>
            }
        </ul>
    </div>
</div>