
@{
    ViewBag.Title = "AddSubAssignment";
}
<div class="above-main"></div>

<div class="main">
    <h2>New/Edit SubAssignment</h2>

    <!--Hér að neðan er að finna þau form sem notuð eru þegar á að bæta við nýju hlutverkefni eða þá breyta því-->
    @using (Html.BeginForm())
    {
        <input type="hidden" name="AssignmentName" value="@Model.CurrentAssignment" />
        <input type="hidden" name="CourseName" value="@Model.CurrentClass" />
        <input type="text" name="SubName" />

        <div class="form-group">
            <label for="Descrip.">Description:</label>                  <br />
            <textarea rows="5" cols="50" name="Descrip"></textarea>    <br />
        </div>
        <div class="form-group">
            <label for="limit">Submit limit:</label>                    <br />
            <input type="number" name="limit" value="0" />               <br />
        </div>
        <div class="form-group">
            <label for="Percentage">Percentage of total grade :</label><br />
            <input type="text" name="Percentage" />          <br />
        </div>
        <div class="form-group">
            <label for="Input">Input:</label>                           <br />
            <input type="file" name="Input" />                          <br />
        </div>
        <div class="form-group">
            <label for="Output">Output:</label>                         <br />
            <input type="file" name="Output" />                         <br />
        </div>

            <input type="submit" value="Save" />
            <input type="button" value="Cancel" onclick="location.href='@Url.Action(" Assignments", "Teacher" )'" />
    }

</div>